@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    background-color: #eee;
    padding: 1em 2em;
   
}
.newspaper-container {
    background-color: white;
    width: 700px 700px;
    margin: 3em 10em 3em 10em;
    padding: 1em 1em;
    border-radius: 1em 2em 1em 2em;
    border-color: #ddd;
}
h1 {
      text-align: center;   
      font-family: Abril Fatface;
      font-size: 75px;
}
ul {
    display:table-row;
    text-align: center;
}
li {
    margin-left: 2em;
    
    display:inline-block;
    padding: 1em 2em 1em 2em; 
    border-top: 2em 2em; 
    border-bottom: 2em 2em;
    border-width: thick;
    color: #777;
    }

h2 {
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 200%;
}

h5 {
    color: rgb(224, 23, 23);
    font-size: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

section {
    color: black;
    display: inline-block;
    
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font;
}

span {
    margin-left: 6.5em;
    color: #777;
}

a {
    color:#777;
    margin-left: -2.5em;
}

img {
    max-width: 100%;
    height: auto;
}
